*{
    margin: 15px;
    padding:10px;
    margin-top:25px;
    align-items: center;
    justify-content:center
}
body{
    background-image: url("Background.png");
    display:flex;
}
select{
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width:400px;
    height:auto;
    font-size:25px;
}